<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./public/global.css" />
    <link rel="stylesheet" href="./public/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cookie:wght@400&display=swap"
    />

    <style>
      @font-face {
        font-family: "BERNIER Regular";
        src: url("/fonts/BERNIERRegular-Regular.otf");
        font-weight: 400;
      }
      @font-face {
        font-family: "BERNIER Distressed";
        src: url("/fonts/BERNIERDistressed-Regular.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="rectangle-parent">
      <div class="frame-child"></div>
      <img
        class="png-transparent-assorted-fuits-icon5"
        alt=""
        src="./public/pngtransparentassortedfuitsbrownpatternblackpepperfoodcookingmaterialphotoroom-1@2x.png"
      />
      <div class="div19">
        <a href="/buisnessLunch" style="text-decoration: none; color:white;">Бизнес-ланч</a>
      </div>
      <div class="div20" id="text4">Контакты</div>
      <div class="div21">
        <a href="/additional_ver" style="text-decoration: none; color:white;">Меню</a>
      </div>
      <div class="div16">
        <p class="p10">Часы работы:</p>
        <p class="p11">Пн-Вс 08:00 до 20:00</p>
      </div>
      <div class="div17">
        <p class="p10">Новоуральск</p>
        <p class="p11">Ул. Фрунзе 15а</p>
      </div>
      <div class="div18" data-scroll-to="text">
        <p class="p10">г. Новоуральск</p>
        <p class="p10">Ул. Фрунзе 15а</p>
      </div>
      <img
        class="png-transparent-assorted-fuits-icon3"
        alt=""
        src="./public/pngtransparentassortedfuitsbrownpatternblackpepperfoodcookingmaterialphotoroom-2@2x.png"
      />

      <img
        class="png-transparent-assorted-fuits-icon4"
        alt=""
        src="./public/pngtransparentassortedfuitsbrownpatternblackpepperfoodcookingmaterialphotoroom-3@2x.png"
      />


      <div class="div22">
        <span class="span3">Кафе</span>
        <span class="span4"> </span>
        <span class="span5">МаргаРита</span>
      </div>
      <div class="div23">
        <p class="p10">+7(343) 709-04-33</p>
        <p class="p10">+7(343) 707-53-72</p>
      </div>



      <img
        class="tiesto-591d5ffbb9390-1-icon1"
        alt=""
        src="./public/tiesto591d5ffbb9390-1@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon19"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-1@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon20"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-11@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon21"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-1@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon22"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-5@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon23"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-6@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon24"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-17@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon25"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-3@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon26"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-19@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon27"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-2@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon28"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-18@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon29"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-12@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon30"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-15@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon31"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-7@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon32"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-4@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon33"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-10@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon34"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-8@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon35"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-8@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon36"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-13@2x.png"
      />

      <img
        class="istockphoto-489426066-170667a-icon37"
        alt=""
        src="./public/istockphoto489426066170667aphotoroom-16@2x.png"
      />

      <div class="frame-item"></div>
      <div class="frame-inner"></div>
      <img
        class="big-1467412-1-icon1"
        alt=""
        src="./public/big-1467412-1@2x.png"
      />

      <div class="div24">быстро и вкусно!</div>
      <div class="div25">быстро и вкусно!</div>
      <div class="div26">быстро и вкусно!</div>
      <div class="div27">быстро и вкусно!</div>
      <div class="div28">быстро и вкусно!</div>
      <div class="div29">
        <p class="p10">+7(343) 709-04-33</p>
        <p class="p10">+7(343) 707-53-72</p>
      </div>
      <div class="div30">Пн-Вс 08:00 до 20:00</div>
      <img class="ellipse-icon" alt="" src="./public/ellipse-1@2x.png" />

      <div class="div31">Контакты</div>
    </div>

    <script>
      var text4 = document.getElementById("text4");
      if (text4) {
        text4.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      </script>
  </body>
</html>
